body {
    background-color: rgb(17, 17, 17);
    text-align: center;
    color: white;
}

fieldset {
    text-align: left;
    padding: 0 10px 10px;
    border: 1px solid #666;
    border-radius: 8px;
}

.box {
    height: auto;
    width: auto;
    border-radius: 8px;
    background-color: #0c0c0c;
    padding: 20px; /* Add some padding to the main box */
    position: relative; /* Set the box as a positioned container */
  }

  .minibox {
    height: auto;
    width: 40%;
    border-radius: 8px;
    background-color: rgb(27, 27, 27);
    position: absolute; /* Set the minibox as an absolutely positioned element */
    top: 18%; /* Position from the top edge of the box */
    right: 2%; /* Position from the right edge of the box */
    padding: 10px; /* Add some padding to the minibox */
  }


.image-container {
  display: inline-block;
  position: relative;
}
.transparent-image {
    transition: opacity 0.3s;
}
.transparent-image:hover {
  opacity: 0.4;
}